<% include partials/header%>
    <div class="container">
        <div class="ui huge header">Edit <%=problem.title%></div>

        <form action="/problems/<%=problem._id%>?_method=PUT" method="POST">

            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="problem[title]" value="<%=problem.title%>">
            </div>

            <div class="form-group">
                <label>Problem Statement</label>
                <textarea class="form-control" name="problem[statement]"><%=problem.title%></textarea>
            </div>

            <div class="form-group">
                <label>Sample Test Input</label>
                <textarea class="form-control" name="problem[sampleInput]"><%=problem.sampleInput%></textarea>
            </div>

            <div class="form-group">
                <label>Sample Test Output</label>
                <textarea class="form-control" name="problem[sampleOutput]"><%=problem.sampleOutput%></textarea>
            </div>

            <div class="form-group">
                <label>Actual Test Cases</label>
                <textarea class="form-control" name="problem[testcases]"><%=problem.testcases%></textarea>
            </div>

            <div class="form-group">
                <label>Expected Output of the above testcases</label>
                <textarea class="form-control" name="problem[serverOutput]"><%=problem.serverOutput%></textarea>
            </div>

            <button class="btn btn-info" type="submit">Submit</button>
        </form>


    </div>



    <% include partials/footer%>