<% include partials/header%>

    <br>
    <br>
    <br>
    <div class="container">
        <div class="ui main text container segment">
            <div class="ui huge header">
                <h1>
                    <%=problem.title%>
                        </h2>
            </div>
            <div class="io top attached">
                <div class="item">
                    <div class="content">
                        <%= problem.statement%>
                    </div>

                </div>




            </div>



        </div>
        <form class="ui form">

            <div class="field">
                <label>Sample Test Input</label>
                <textarea name="problem[sampleIntput]" placeholder="image"><%=problem.sampleInput%></textarea>
            </div>



            <div class="field">
                <label>Sample Test Output</label>
                <textarea name="problem[sampleOutput]" placeholder="image"><%=problem.sampleOutput%></textarea>
            </div>


        </form>






        <form method="get" action="/problems/<%=problem._id%>/ide">
            <button class="positive ui button">Submit</button>
        </form>
    </div>

    <% include partials/footer%>