<% include partials/header%>

    <br><br>

    <div class="container">
        <div class="ui huge header">
            <h1 style="font-family: Niramit;">
                <%=problem.title%>
            </h1>
        </div>
        <div>
            <h4 style="font-family: Niramit;"><%=problem.statement%></h4>
        </div>
    </div>
    <br>
    <div class="container">
        <form>
            <div class="form-group">
                <label style="font-family: Niramit;">Sample Test Input</label>
                <textarea readonly class="form-control" name="problem[sampleIntput]" placeholder="Input" rows=5 style="font-family: Niramit;"><%=problem.sampleInput%></textarea>
            </div><br>

            <div class="form-group">
                <label style="font-family: Niramit;">Sample Test Output</label>
                <textarea readonly class="form-control" name="problem[sampleOutput]" placeholder="Output" rows=5 style="font-family: Niramit;"><%=problem.sampleOutput%></textarea>
            </div>

        </form>

        <br>

        
        <div class="row">
            <% if(isAuthenticated && currentUser.username=="admin"){%>
            
            <div class="col-xs-2">
                <form method="get" action="/problems/<%=problem.id%>/ide">
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>

            <div class="col-xs-2">
                <form method="get" action="/problems/<%=problem.id%>/edit">
                    <button class="btn btn-info">Edit</button>
                </form>
            </div>
            <div class="col-xs-2">
                <form action="/problem/<%=problem.id%>" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>

            <%} else {%>
                <div class="col-xs-2">
                    <form method="get" action="/problems/<%=problem.id%>/ide">
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            <% } %>

        </div>
    </div>

    <% include partials/footer%>