<% include partials/header%>

    <br><br>

    <div class="container">
        <div class="ui huge header">
            <h1>
                <%=problem.title%>
            </h1>
        </div>
        <div>
            <h4><%=problem.statement%></h4>
        </div>
    </div>
    <br>
    <div class="container">
        <form>
            <div class="form-group">
                <label>Sample Test Input</label>
                <textarea readonly class="form-control" name="problem[sampleIntput]" placeholder="Input" rows=5><%=problem.sampleInput%></textarea>
            </div><br>

            <div class="form-group">
                <label>Sample Test Output</label>
                <textarea readonly class="form-control" name="problem[sampleOutput]" placeholder="Output" rows=5><%=problem.sampleOutput%></textarea>
            </div>

        </form>

        <br>

        <div class="row">
            <div class="col-xs-3">
                <form method="get" action="/problems/<%=problem._id%>/ide">
                    <button class="btn btn-success">Submit</button>
                </form>
            </div>

            <% if(currentUser.username=="admin"){%>

                <div class="col-xs-3">
                    <form action="http://localhost:3000/problems/<%=problem._id%>/edit" method="GET">
                        <button class="btn btn-info">Edit</button>
                    </form>
                </div>

                <div class="col-xs-3">
                    <form action="/problem/<%=problem._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

                <%}%>
        </div>
    </div>

    <% include partials/footer%>